

*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Trirong', serif;
}


#particles-js{
    background-color: darkblue;
    height: 50vh;
    
    width: 100vw;
    
}

#typewriter {
    position: absolute;
    font-size: 60px;
    font-family: 'B612', serif;
    font-weight: 700;
    width: 800px;
    margin: 350px 250px;
}

body{
    display:flex;
    justify-content: center;
    
}